<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Grids & Circles</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="container-fluid">
<h1>Grids & Circles</h1>
<h2>Production Management</h2>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a th:href="@{/new-product}" class="btn btn-primary me-md-2" type="button">Add Product</a>
</div>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">NAME</th>
    <th scope="col">CATEGORY</th>
    <th scope="col">PRICE</th>
    <th scope="col">DESCRIPTION</th>
    <th scope="col">CREATED AT</th>
    <th scope="col">UPDATED AT</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product: ${products}" th:object="${product}">
    <td th:text="*{productId}"></td>
    <td th:text="*{productName}"></td>
    <td th:text="*{category}"></td>
    <td th:text="*{price}"></td>
    <td th:text="*{description}"></td>
    <td th:text="*{createdAt}"></td>
    <td th:text="*{updatedAt}"></td>
  </tr>
  </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>